:root {
    --fondo: #050505;
    --cyber-azul: #00f2ff;
    --cyber-rojo: #ff0055;
    --cyber-amarillo: #ffcc00;
    --cyber-verde: #00ff66;
    --gris-oscuro: #1a1a1a;
}

body {
    background-color: var(--fondo);
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.8s;
}

.tarjeta {
    background: var(--gris-oscuro);
    padding: 30px;
    border: 3px solid var(--cyber-azul);
    border-radius: 15px;
    box-shadow: 0 0 20px var(--cyber-azul); /* El brillo exterior */
    text-align: center;
    width: 350px;
    transition: all 0.5s ease;
}

.neon { color: var(--cyber-azul); text-shadow: 0 0 5px var(--cyber-azul); }

.cronometro {
    font-size: 2.5rem;
    color: var(--cyber-rojo);
    margin-bottom: 20px;
}
.contenedor1 {
    color: var(--cyber-rojo); text-shadow: 0 0 5px var(--cyber-rojo);
}

input {
    background: black;
    border: 2px solid white;
    color: var(--cyber-azul);
    padding: 10px;
    font-size: 1.2rem;
    width: 60px;
    border-radius: 5px;
    outline: none;
}

button {
    background: var(--cyber-azul);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.memoria {
    margin-top: 20px;
    border-top: 1px solid #333;
    font-size: 0.9rem;
}
